@page
@model SERVER.Pages.Players.GroupPlayersByCountryModel
@{
    ViewData["Title"] = "Group Players By Country";
}

<div class="top-nav">
    <a href="/">Home</a>
    <a href="/About">About</a>
    <a href="/Players">Our Players</a>
    <a href="/Games">All Games</a>
    <a href="/">Services</a>
</div>

<div class="dashboard-container">
    <h2 class="dashboard-title">Players Grouped By Country</h2>

    <table class="players-table">
        @foreach (var group in Model.PlayersByCountry)                      @*LIST OF GROUPS*@
        {
            <tr>
                <th colspan="2">
                    @group.Country           @*HEADER FOR EACH GROUP COUNT (KEY)*@
  
                </th>
            </tr>
            @foreach (var player in group.PlayerDetails)                    @*THE PLAYERS WITHIN THE CURRENT GROUP*@
            {
                <tr>
                    <td>@player</td>                                        @*A ROW FOR EACH PLAYER*@
                </tr>
            }
        }
    </table>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

