@page
@model SERVER.Pages.Players.PlayerGameCountModel
@{
    ViewData["Title"] = "Players Games Count";
}

<div class="top-nav">
    <a href="/">Home</a>
    <a href="/About">About</a>
    <a href="/Players">Our Players</a>
    <a href="/Games">All Games</a>
    <a href="/">Services</a>
</div>

<div class="dashboard-container">
    <h2 class="dashboard-title">Players Games Count</h2>

    <table class="players-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Game Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PlayersGameCount)
            {
                <tr>
                    <td>@item.PlayerId</td>
                    <td>@item.PlayerName</td>
                    <td>@item.GameCount</td>
                </tr>
            }
        </tbody>
    </table>


    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

