@page
@model SERVER.Pages.AboutModel
@{

}


<link rel="stylesheet" href="~/css/MyStyle.css" />

<div class="top-nav">
    <a href="/">Home</a>
    <a href="/About">About</a>
    <a href="/Players">Our Players</a>
    <a href="/">Services</a>
</div>

<div class="content-container">
    <h1 class="welcome-text">Submitters details</h1>
    <p class="submit-text">
        Shir Falach, 206587495
    </p>
    <p class="submit-text">
        Liran Sorokin, 207132713
    </p>
</div>
